---
pageable: true
layout: :page
---

<article id="welcome-page">
  <div class="row">
    <h2>Network Mapping Game Jam</h2>
  </div>

  <section id="banner-section">
    <p>
      Build a location-based Android game.
      Incentivize your players to walk around.
      Contribute to an MIT research project.
    </p>
  </section>

  <div class="row">
    <section id="time-section">
      <p class="time">
        <span>Saturday, May 18, 9am</span>
        <span>to</span>
        <span>Sunday, May 19, 9pm</span>
      </p>
      <p class="time-button">
        <a class="med button secondary" href="http://www.google.com/calendar/event?action=TEMPLATE&text=NetMap%20Game%20Jam&dates=20130517T130000Z/20130519T010000Z&details=Description%20here&location=32%20Vassar%20Street%2C%20Cambridge%2C%20MA%2002139&trp=true&sprop=NetMap%20Game%20Jam&sprop=name:http%3A%2F%2Fgamejam.mit.edu" target="_blank">
          <i class="icon-calendar"></i> Calendar
        </a>
      </p>
    </section>
    <section id="signup-section">
      <p>
        <a id="signup-button" href="/signup.html">
          Sign Up
        </a>
      </p>
    </section>
    <section id="address-section">
      <p class="address">
        <span>MIT Stata Center</span>
        <span>32 Vassar Street</span>
        <span>Cambridge, MA 02139</span>
      </p>
      <p class="address-button">
        <a class="med button secondary" href="https://maps.google.com/maps?q=32+Vassar+St,+Cambridge,+MA&hl=en&ll=42.361866,-71.090561&spn=0.0031,0.008256&sll=42.37839,-71.112214&sspn=0.099164,0.264187&oq=32+vas&hnear=32+Vassar+St,+Cambridge,+Middlesex,+Massachusetts+02142&t=m&z=18&iwloc=A">
          <i class="icon-large icon-map-marker"></i> Map
        </a>
        </span>
      </p>
    </section>
  </div>
</article>
