---
pageable: true
---

<article id="schedule-page">
  <h2>Network Mapping Game Jam Schedule</h2>

  <table>
    <tbody>
      <% data.schedule.lines.each do |line| %>
      <tr>
        <td><%= line.day %></td>
        <td><%= line.time %></td>
        <td><%= line.desc %></td>
        <td><%= line.room %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</article>
