---
pageable: true
---

<article id="schedule-page">
  <h2>Network Mapping Game Jam Schedule</h2>

  <table>
    <tbody>
      <tr>
        <td>Sat, May 18</td>
        <td>9:00am</td>
        <td>Breakfast</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>10:00am</td>
        <td>Theme Description</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>10:30am</td>
        <td>Team Formation</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>12:00pm</td>
        <td>Lunch</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>6:00pm</td>
        <td>Dinner</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>8:00pm</td>
        <td>Presentations</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td>Sun, May 19</td>
        <td>9:00am</td>
        <td>Breakfast</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>12:00pm</td>
        <td>Lunch</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>5:00pm</td>
        <td>Presentations</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>6:00pm</td>
        <td>Dinner</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
      <tr>
        <td></td>
        <td>7:00pm</td>
        <td>Awards</td>
        <td>32G-4XX (Kiva)</td>
      </tr>
    </tbody>
  </table>
</article>
