---
pageable: true
---

<article id="signup-page">
  <h2>Network Mapping Game Jam Sign-Up</h2>

    <div id="row">
      <div class="small-6 columns">
        <form action="https://docs.google.com/forms/d/1FSN7i5hdn3IxzffG0K1DZLmC2t7uZ2BRqYoubM7mBeo/formResponse"
            method="POST" id="ss-form" target="_self" onsubmit="">
          <div class="ss-form-question errorbox-good">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_315031353">
                  <div class="ss-q-title">Full legal name
                    <span class="ss-required-asterisk">*</span>
                  </div>
                </label>
                <input type="text" name="entry.315031353" value=""
                    class="ss-q-short" id="entry_315031353" dir="auto"
                    required="required" aria-required="true"
                    placeholder="John Doe" />
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1077711794">
                  <div class="ss-q-title">E-mail
                    <span class="ss-required-asterisk">*</span>
                  </div>
                </label>
                <input type="email" name="entry.1077711794" value=""
                    class="ss-q-short" id="entry_1077711794" dir="auto"
                    required="required" aria-required="true"
                    placeholder="you@email.com" />
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1744350894">
                  <div class="ss-q-title">Affiliation (company, school, etc.)
                    <span class="ss-required-asterisk">*</span>
                  </div>
                </label>
                <input type="text" name="entry.1744350894" value=""
                    class="ss-q-short" id="entry_1744350894" dir="auto"
                    required="required" aria-required="true"
                    placeholder="MIT" />
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_2074533437">
                  <div class="ss-q-title">Dietary restrictions</div>
                </label>
                <input type="text" name="entry.2074533437" value=""
                    class="ss-q-short" id="entry_2074533437" dir="auto"
                    placeholder="We'll do our best to accomodate you">
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_400397759">
                  <div class="ss-q-title">Comments</div>
                </label>
                <textarea name="entry.400397759" rows="8" cols="0"
                    class="ss-q-long" id="entry_400397759" dir="auto"
                    placeholder="Anything you'd like us to be aware of?"></textarea>
              </div>
          </div>
        </div>
        <input type="hidden" name="draftResponse" value="[]" />
        <input type="hidden" name="pageHistory" value="0" />
        <div class="ss-item ss-navigate">
          <div class="ss-form-entry">
            <button class="large" type="submit" name="submit" value="Submit"
                id="ss-submit">
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="small-6 columns">
      <section id="time-section">
        <p class="time">
          <span>Saturday, May 18, 9am</span>
          <span>to</span>
          <span>Sunday, May 19, 9pm</span>
        </p>
        <p class="time-button">
          <a class="med button secondary" href="http://www.google.com/calendar/event?action=TEMPLATE&text=NetMap%20Game%20Jam&dates=20130517T130000Z/20130519T010000Z&details=Description%20here&location=32%20Vassar%20Street%2C%20Cambridge%2C%20MA%2002139&trp=true&sprop=NetMap%20Game%20Jam&sprop=name:http%3A%2F%2Fgamejam.mit.edu" target="_blank">
            <i class="icon-calendar"></i> Calendar
          </a>
        </p>
      </section>
      <section id="address-section">
        <p class="address">
          <span>MIT Stata Center</span>
          <span>32 Vassar Street</span>
          <span>Cambridge, MA 02139</span>
        </p>
        <p class="address-button">
          <a class="med button secondary" href="https://maps.google.com/maps?q=32+Vassar+St,+Cambridge,+MA&hl=en&ll=42.361866,-71.090561&spn=0.0031,0.008256&sll=42.37839,-71.112214&sspn=0.099164,0.264187&oq=32+vas&hnear=32+Vassar+St,+Cambridge,+Middlesex,+Massachusetts+02142&t=m&z=18&iwloc=A">
            <i class="icon-large icon-map-marker"></i> Map
          </a>
          </span>
        </p>
      </section>
    </div>
  </div>
</article>
