---
pageable: true
---

<article id="theme-page">
  <h2>Location-Based Android Game Jam Theme</h2>

  <p>
    Your mission, should you choose to accept it, is to create a location-based
    game for Android mobile devices. Your game should incentivize players to
    move around in the real world, while interacting with the game. When
    players use the game, your code will call our library to measure wireless
    Internet access performance at the player’s location. Our library
    automatically collects the information it needs, stores it, and transmits
    it to our servers, so you don’t need to worry about the details. We will
    use the data you collect to build a map of Internet performance across the
    world.
  </p>

  <p>
    You may build your game using any programming language and platform, as
    long as you are able to build an Android application that calls into our
    Java library.
  </p>

  <p>
    In addition to the fun of designing mobile device games, this gamejam is
    part of a research project, called NetMap, being conducted at MIT’s
    Computer Science and Artificial Intelligence Laboratory (CSAIL). The aim of
    NetMap is to build a system that crowd-sources performance metrics for
    wireless networks (both 802.11 and cellular). Metric collection for
    wireless networks will be wrapped in an online game (on the Android
    platform which supports such measurement collection). By participating in
    this gamejam, you will be contributing to NetMap and to the overall goal
    of understanding and improving wireless network performance at various
    locations.
  </p>

</article>
