---
pageable: true
---

<article id="theme-page">
  <h2>Location-Based Android Game Jam Theme</h2>

  <p>The goal of this gamejam is to create a mobile device game for android devices. Players of this game should see in-game incentives to move to various real-world locations and perform some tasks. Each time a player makes a move or performs a task at a specific location, wireless network measurements must be collected. We will provide the code to make such measurements so each time a player moves, the provided measurement code should be called. The library will be providing is in Java.</p>

  <p>In essence, we will take care of collecting measurements and sending them to servers for processing. Your job is to make a game to urge players to move to various locations and perform in-game tasks (movement in the game should correspond to movement in the real world).</p>

  <p>In addition to the fun of designing mobile device games, this gamejam is part of a research project, called NetMap, being conducted at MIT’s Computer Science and Artificial Intelligence Laboratory (CSAIL). The aim of NetMap is to build a system that crowd-sources performance metrics for wireless networks (both 802.11 and cellular). Metric collection for wireless networks will be wrapped in an online game (on the android platform which supports such measurement collection). In participating in this gamejam, you will be contributing to NetMap and the overall goal of understanding and improving wireless network performance at various locations.</p>

</article>
