---
pageable: true
layout: :page
---

<article id="venue-page">
  <h2>Network Mapping Game Jam Venue</h2>

  <p>
    The Network Mapping Game Jam will be held at MIT's Stata Center, the home
    of the Computer Science and AI Laboratory.
  </p>

  <p>
    Directions here.
  </p>
</article>
