---
pageable: true
---

<article id="venue-page">
  <h2>Location-Based Android Game Jam Venue</h2>

  <p>
    The Network Mapping Game Jam will be held at MIT's Stata Center, the home
    of the Computer Science and AI Laboratory.
  </p>

  <h3>Directions</h3>
  <div class="row">
    <div class="small-8 columns">
      <p>The Stata Center is at the northeastern edge of the MIT campus on Vassar Street near the intersection with Main Street. The building we are in is also known as CSAIL (Computer Science and AI Laboratory) and as MIT Building number 32.</p>
      <ul>
      <li><a href="#Public">By Public Transportation</a></li>
      <li><a href="#Logan">From Logan International Airport</a></li>
      <li><a href="#I-93">From I-93 (North or South)</a></li>
      <li><a href="#I-95">From I-95 (North or South)</a></li>
      <li><a href="#Turnpike">From the Massachusetts Turnpike (West)</a></li>
      <li><a href="#Parking">Parking Information</a></li>
      </ul>
    </div>
    <div class="small-4 columns">
      <section id="address-section">
        <p class="address">
          <span>MIT Stata Center</span>
          <span>32 Vassar Street</span>
          <span>Cambridge, MA 02139</span>
        </p>
        <p class="address-button">
          <a class="med button secondary" href="https://maps.google.com/maps?q=32+Vassar+St,+Cambridge,+MA&hl=en&ll=42.361866,-71.090561&spn=0.0031,0.008256&sll=42.37839,-71.112214&sspn=0.099164,0.264187&oq=32+vas&hnear=32+Vassar+St,+Cambridge,+Middlesex,+Massachusetts+02142&t=m&z=18&iwloc=A">
            <i class="icon-large icon-map-marker"></i> Map
          </a>
          </span>
        </p>
      </section>
    </div>
  </div>

  <h4 id="Public">By Public Transportation (commonly called &quot;The T&quot;)</h4>
  <p><strong>Subway: </strong>Take the Red Line to the Kendall/MIT Station (cost is $2.00 with a CharlieTicket and $1.70 with a CharlieCard). When you exit the T, walk Northwest, up Main Street (you will pass the MIT Coop and Legal Seafoods). When you come to the second intersection (Vassar St.), the Computer Science and Artificial Intelligence Lab will be in the <a href="http://whereis.mit.edu/map-jpg?selection=32&amp;Buildings=go" target="_blank">very unique building</a> to your left.</p>
  <p><strong>Bus:</strong> The #1 (&quot;Dudley&quot; bus) stops at MIT on Massachusetts Avenue. The MIT stop is at a large crosswalk with a stop light. On one side of the street are steps leading up to large Ionic columns and the Small Dome of MIT, on the other side of the street is the Stratton Student Center (Building W20) and Kresge Oval (an open, grass-covered area). To get to the CSAIL, walk North (so that the steps are on your right) on Mass. Ave. Take a right at the first intersection (Vassar St.). Walk until you see the <a href="http://whereis.mit.edu/map-jpg?selection=32&amp;Buildings=go" target="_blank">very unique building</a> on your right at the corner of the next major intersection (Main St.). More detailed public transportation maps and schedules are available from the <a href="http://www.mbta.com" target="_blank">MBTA</a>.</p>

  <h4 id="Logan">From Logan International Airport</h4>
  <p><strong>Taxi:</strong> Taxi fare from the airport is about $25-$30. Under normal traffic conditions the taxi ride will take about 25 minutes.</p>
  <p><strong>Subway:</strong> From any terminal at Logan airport, take the Silver Line bus to South Station. Go downstairs and take the Red Line to Kendall/MIT (take the outbound train toward Alewife). Under normal conditions the ride will take about 30 minutes. From the T stop, follow the directions above.</p>
  <p><strong>Car:</strong> The drive from Logan Airport can be rather nasty, depending on traffic conditions. Take the Sumner Tunnel exit from the airport (not the Ted Williams Tunnel) and follow the signs toward Boston via the Sumner Tunnel. The tunnel toll is $3. As you exit the tunnel, take the ramp onto the expressway (I-93 North). Take the second exit, marked 'Storrow Drive West'. Immediately take the right fork of the road to a stoplight. Turn left, then immediately turn right and drive over the Charles River on the Longfellow Bridge. At the second traffic light after the river, take a left onto Ames Street and then a right onto Main Street. CSAIL will be on your left in the <a href="http://whereis.mit.edu/map-jpg?selection=32&amp;Buildings=go" target="_blank">very unique building</a> at the corner of Main and Vassar Street.</p>

  <h4 id="I-93">From I-93 (North or South)</h4>
  <p>Take Exit 26, and follow the signs to Back Bay along Storrow Drive West, approximately 1.5 miles, to the exit for Route 2A. The exit will be on the left, just before the Harvard Bridge (more appropriately called the Massachusetts Avenue Bridge). The Charles River will be on your right. As you cross the Harvard Bridge, you will be looking at MIT. Continue 1 block on Mass. Ave., until you reach Vassar St. Take a Right on Vassar St. CSAIL is on your right in the <a href="http://whereis.mit.edu/map-jpg?selection=32&amp;Buildings=go" target="_blank">very unique building</a> at the corner of Vassar and Main.</p>

  <h4 id="I-95">From I-95 (North or South)</h4>
  <p>Take the I-93 Exit and follow the directions above.</p>

  <h4 id="Turnpike">From the Massachusetts Turnpike (I-90) (West)</h4>
  <p>Follow I-90 East to the Cambridge/Brighton exit (Exit 18). Following the signs to Cambridge (down the ramp to the right, then straight), cross the River Street Bridge, and continue straight about 1 mile to Central Square. Turn right onto Massachusetts Avenue and follow Massachusetts Avenue for about a half mile. If you cross the river again, you have gone too far. Bear left onto Main Street at the sculpture park. Follow Main Street for about 1/2 mile to the <a href="http://whereis.mit.edu/map-jpg?selection=32&amp;Buildings=go" target="_blank">very unique building</a> at the corner of Vassar St.  <a name="Parking"></a></p>

  <h4 id="Parking">Parking Information</h4>
  <p>Parking in Cambridge can be difficult. There are some metered spots on the street. Alternatively, parking is available for a fee in the parking garage in the Technology Square Garage.</p>
  <p>The entrance to Technology Square is between 300 Technology Square and 200 Technology Square / Building NE43 (the former home of CSAIL) on Main Street. Another public parking garage is available on Ames Street between Legal Seafoods and Quantum Books.</p>
  </p>

</article>
